{% extends "./base/frame.njk" %}

{% block head %}
  <link rel="stylesheet" href="/public/styles/article-a3d582803b.css">
{% endblock %}

{% block scripts %}{% endblock %}

{% block main %}
  <div class="main center-box">
    <h2>致全体员工的一封信</h2>
    <div class="article-info">
      <dl>
        <dt>发布时间：</dt>
        <dd>2019.05.15</dd>
      </dl>
      <dl>
        <dt>作者：</dt>
        <dd>系统管理者</dd>
      </dl>
      <div class="operate">
        【<span>字号：</span><span class="big">大</span><span class="middle active">中</span><span class="small">小</span>】
      </div>
    </div>
    <div class="article-content">
      <img src="/public/images/culture/culture1-f08efb7c70.jpg" alt="">
    </div>
    <div class="article-nav">
      <div class="prev nav-item">
        上一篇：<a href="javascript:void(0)" class="disabled">没有了</a>
      </div>
      <div class="next nav-item">
        下一篇：<a href="">国科股份新三板挂牌敲钟仪式隆重举行</a>
      </div>
    </div>
  </div>
{% endblock %}