{% extends "./base/frame.njk" %}

{% block head %}
  <link rel="stylesheet" href="/public/styles/contacts-049ef9d281.css">
{% endblock %}

{% block main %}
  <div class="main">
    <h2>业务分布区域</h2>
    <img class="map" src="/public/images/contacts/map-f6b6637162.png" alt="">
    <div class="center-box">
      <h2>业务联系人</h2>
      <div class="contacts">
        {% for contact in contacts %}
          <dl>
            <dt>{{ contact.contact_region }}：</dt>
            <dd>
              <span class="name">{{ contact.contact_name }}</span>
              <span class="tel">{{ contact.contact_tel }}</span>
            </dd>
          </dl>
        {% endfor %}
      </div>
      <div class="address">
        <dl>
          <dt>总部地址：</dt>
          <dd>北京市海淀区西三旗昌临813号A11号楼</dd>
        </dl>
        <span>|</span>
        <dl>
          <dt>电话：</dt>
          <dd>010-82911287</dd>
        </dl>
        <span>|</span>
        <dl>
          <dt>邮编：</dt>
          <dd>100085</dd>
        </dl>
        <span>|</span>
        <dl>
          <dt>网址：</dt>
          <dd><a href="http://www.sinog2c.com" target="_blank">www.sinog2c.com</a></dd>
        </dl>
      </div>
    </div>
  </div>
{% endblock %}