{% extends "./base/frame.njk" %}

{% block head %}
  <link rel="stylesheet" href="/public/styles/product-8509d285e5.css">
{% endblock %}

{% block main %}
  <div class="content">
    <div class="center-box">
      <h2>狱务通</h2>
      <p class="summary">狱务通以移动端手机APP的形式，面向社会大众公开狱务信息、监狱动态、监狱公示、法律法规，家属除了查看以上信息，还提供了查看服刑人员相关信息、投诉建议、远程会见和电子商务等功能，实现了服刑人员家属与监狱的零距离互动。</p>
      <h3>功能特点</h3>
      <p class="feature-desc"></p>
      <ul class="features">
        <li>
          <img src="/public/images/product-diagram/ywgk-53b49e4ea5.png" alt="">
          <div class="feature">
            <h4>狱务公开</h4>
            <p>此模块主要是对监狱的运营情况、服刑人员的改造情况和生活状况等信息的公示，做到狱内信息向社会和服刑人员家属公开。</p>
          </div>
        </li>
        <li>
          <img src="/public/images/product-diagram/gzdt-3d7c32b683.png" alt="">
          <div class="feature">
            <h4>工作动态</h4>
            <p>此模块展示监狱的工作动态信息，内容包括：领导介绍、重大项目、人事变动、警察风采等。</p>
          </div>
        </li>
        <li>
          <img src="/public/images/product-diagram/ycsphj2-6c0cff2086.png" alt="">
          <div class="feature">
            <h4>远程视频会见</h4>
            <p>狱务通的远程视频会见是为服刑人员家属提供线上视频会见服务，通过手机前置摄像头、无线网络、运营商提供的4G网络等实现远程视频会见，服刑人员家属无需到达监区便可与服刑人员会见。</p>
          </div>
        </li>
        <li>
          <img src="/public/images/product-diagram/sdyy-487a6dd3cc.png" alt="">
          <div class="feature">
            <h4>实地预约</h4>
            <p>“实地会见”是通过手机端进行会见预约，服刑人员家属在“狱务通APP”上提交申请后，审核通过会以短信和系统提醒方式通知会见家属，家属按照通知的日期时间到达监狱进行会见。</p>
          </div>
        </li>
        <li>
          <img src="/public/images/product-diagram/jshk-8c44395409.png" alt="">
          <div class="feature">
            <h4>家属汇款</h4>
            <p>该功能是服刑人员家属通过狱务通APP账户转账到服刑人员在监狱的账户上，转账成功后家属会收到成功提醒，并可查看转账金额。服刑人员收到家属汇款后可以在监狱内的账户上进行查看和消费。</p>
          </div>
        </li>
        <li>
          <img src="/public/images/product-diagram/dzsw-f404bdcb54.png" alt="">
          <div class="feature">
            <h4>电子商务</h4>
            <p>建立一个以监狱、家属、商家、服刑人员为用户群体，供货渠道以商家入驻，家属帮助服刑人员购买，支付成功后有专人送到监狱由预警转交给服刑人员。</p>
          </div>
        </li>
      </ul>
      {# <h3>成功案例</h3>
      <p>陕西省监狱系统部署运行。《国科教育专网系统》作为智慧监狱建设的一部分，在陕西省40周年法制建设成就展和华山监狱智慧监狱评审工作上，成功演示。其中分级处遇积分制兑换视频和VR得到高度评价和广泛关注。</p> #}
    </div>
  </div>
{% endblock %}