{% extends "./base/frame.njk" %}

{% block head %}
  <link rel="stylesheet" href="/public/styles/product-e4493fbba2.css">
{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block main %}
  {# 导航 #}
  <div class="products-nav">
    <div class="center-box">
      <span>解决方案：</span>
      <ul class="links">
        <li class="active">
          <a href="/solutions/zhjy">综合执法平台</a>
        </li>
        <li>
          <a href="/solutions/jyzw">教育专网系统</a>
        </li>
        <li>
          <a href="/solutions/ywgk">狱务公开系统</a>
        </li>
        <li>
          <a href="/solutions/ycsphj">远程视频会见与帮教系统</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="content">
    <div class="center-box">
      <h2>综合执法平台</h2>
      <p class="summary">平台涵盖了狱政管理、刑罚执行、教育改造、生活卫生、生产劳动、狱内侦查等各项业务工作模块，实现对在押犯人、监狱民警、狱政业务等基础信息的采集和管理，形成省局、监狱两级协同管理模式。该平台是以信息采集、业务协同、信息资源共享、辅助领导决策为核心，构建的上下衔接、左右联动、覆盖全省的监狱综合执法平台。</p>
      <h3>功能特点</h3>
      <p class="feature-desc">高效化、信息化、集中化的管理模式的升级，通过综合执法管理平台实现执法信息采集、平台数据分析、狱务公开、人机互动、流转权限、语音助手等 “多位一体”服务。充分利用流媒体、语音集成等技术，探索快速处置、风险防控等新型执法模式。</p>
      <ul class="features">
        <li>
          <img src="/public/images/product-diagram/rjhdznh-992bcccc99.png" alt="">
          <div class="feature">
            <h4>人机互动智能化</h4>
            <p>本系统内置了语音助手，传统的点击菜单进行办案向语音辅助办案进行转变，例如语音读入“打开资格筛查”，系统就自动进入“资格筛查”功能。</p>
          </div>
        </li>
        <li>
          <img src="/public/images/product-diagram/lclzznh-6482edf092.png" alt="">
          <div class="feature">
            <h4>流程流转智能化</h4>
            <p>通过不同权限操作不同的流程。</p>
          </div>
        </li>
        <li>
          <img src="/public/images/product-diagram/yyzsznh-d61f3c880c.png" alt="">
          <div class="feature">
            <h4>语音助手智能化</h4>
            <p>在设定的菜单上，每一步操作都有语音指导，办案人员可以根据语音提示操作，向上级提交前，必须对案件材料的真实、有效性、完整性、合法性、规范性予以确认，若流程没有完成则无法提交，避免办“空案”，实现了没有经过系统培训的人员也可以在平台的提示下完成操作。</p>
          </div>
        </li>
        <li>
          <img src="/public/images/product-diagram/sjfxznh-0e0fec7c2f.png" alt="">
          <div class="feature">
            <h4>数据分析智能化</h4>
            <p>系统将提供对应的智能分析模块，对每一个用户在系统中办理的案件进行数据分析，例如可以通过系统的“统计分析”模块，分析出某一个干警经手办理过的减刑假释的案件数量，其中三类犯的案件数量，以及刑期类型等统计。</p>
          </div>
        </li>
        <li>
          <img src="/public/images/product-diagram/fxfkznh-80d3678138.png" alt="">
          <div class="feature">
            <h4>风险防控智能化</h4>
            <p>风险防控是对减刑假释资格、减刑幅度的防控。系统筛查出符合减刑假释的罪犯，过滤掉不符合资格的罪犯，同时能计算出减刑幅度，对于办案人给的出超出减刑资格的幅度，要给予预警防控；每一级办案做到完整性、时效性的防控。 从管教办理到监狱长、局长等的案件办理过程中，会有相关材料的制作、签章等，如名册、公示、会议记录、审核表的签章等，对于案件没有做会议记录的控制不进行下一步操作，并给予提示，对于签章不完整的不进行下一步操作并给予提示，对公示时公示期未结束的不进行下一步操作并给予提示。</p>
          </div>
        </li>
        <li>
          <img src="/public/images/product-diagram/znaf-1ae918d127.png" alt="">
          <div class="feature">
            <h4>智能安防</h4>
            <p>全面实现区域定位：实时掌握定位区域内服刑人员预警来访者位置信息，移动目标历史轨迹查询，危险区域的检测报警。</p>
          </div>
        </li>
      </ul>
      <h3>成功案例</h3>
      <p>在陕西省监狱管理局华山监狱成功落地应用，整合打通了监狱各科室数据资源孤岛，实现了数据“多走路”，警官“少跑腿”，极大地减轻了监狱工作人员工作量。提高了监狱的现代化管理能力，完善监狱的信息化建设。</p>
    </div>
  </div>
{% endblock %}