{% extends "./base/frame.njk" %}

{% block head %}
  <link rel="stylesheet" href="/public/styles/product-8509d285e5.css">
{% endblock %}

{% block main %}
  <div class="content">
    <div class="center-box">
      <h2>消费系统</h2>
      <ul class="features">
        <li>
          <img src="/public/images/product-diagram/xfxt-diagram1-2c557ab38b.png" alt="">
          <div class="feature">
            <p>消费系统配套终端使用，为服刑人员提供消费购物的渠道，供服刑人员和家属使用，实现服刑人员消费在线上管理。</p>
          </div>
        </li>
        <li>
          <img src="/public/images/product-diagram/xfxt-diagram2-3453eb2aac.png" alt="">
          <div class="feature">
            <p>消费系统提供了合理化的管理方案，不仅使干警从繁杂的手工帐务中解脱出来，而且还方便了亲属为罪犯存款，实现了罪犯亲自到供应站自选购物，更重要的是将亲属存款、邮寄款、罪犯的零花钱和奖金由生活卫生科统一协调，分级管理，减少了资金的中间环节，使资金管理更规范、更透明。 </p>
          </div>
        </li>
        <li>
          <img src="/public/images/product-diagram/xfxt-diagram3-113b1d03a0.png" alt="">
          <div class="feature">
            <p>罪犯手持消费一卡通可以在狱内进行通兑消费，充分体现了监管改造的人性化，使罪犯对自己的存款了如指掌，个人消费清清楚楚。 不仅维护了罪犯的合法权益，同时也推进了监狱干警的廉政建设。</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}