{% extends "./base/frame.njk" %}

{% block head %}
  <link rel="stylesheet" href="/public/styles/about.css">
{% endblock %}

{% block main %}
  <div class="company-intro center-box">
    <h2>公司介绍</h2>
    <p>国科政信科技（北京）股份有限公司（简称：国科股份），注册资金3900万，成立于2006年5月，总部位于北京，是一家集IT产品自主研发、IT技术服务、应用软件开发、系统集成为一体的综合性高新技术企业，主要从事与监狱相关的软件研发。国科股份拥有将近100项自主知识产权，获得高新技术企业、软件企业、ISO9001质量管理体系认定证书、信息系统集成及服务资质证书、软件涉密资质、军用信息安全产品、军队网络采购资格等认证，同时公司还被评为AAA级重合同守信用企业。</p>
    <div class="history">
      <img src="/public/images/about/history-bg.png" alt="">
      <img src="/public/images/about/history.png" alt="">
    </div>
  </div>
{% endblock %}