{% extends "./base/frame.njk" %}

{% block head %}
  <link rel="stylesheet" href="/public/styles/article.css">
  {# <link href="https://cdn.bootcss.com/quill/1.3.6/quill.snow.min.css" rel="stylesheet"> #}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/quill@1.3.6/dist/quill.snow.css">
{% endblock %}

{% block main %}
  <div class="main center-box">
    <h2 class="title">{{ article.article_title }}</h2>
    <div class="article-info">
      <dl>
        <dt>发布时间：</dt>
        <dd>{{ helper.formatTime(article.article_publish_time) }}</dd>
      </dl>
      <dl>
        <dt>作者：</dt>
        <dd>{{ article.article_author }}</dd>
      </dl>
      <div id="fontSizeAlter" class="operate">
        【<span>字号：</span><span class="big">大</span><span class="middle active">中</span><span class="small">小</span>】
      </div>
    </div>
    <div id="editor" class="article-content ql-container ql-snow">
      <div class="ql-editor">
        {{ article.article_content | safe }}
        {% if article.article_source %}
          <p class="source">本文来源：{{ article.article_source }}</p>
        {% endif %}
      </div>
    </div>
    <div class="article-nav">
      <div class="prev nav-item">
        上一篇：
        <a
          href="{{ prevArticle.article_id if prevArticle else 'javascript:void(0)' }}"
          class="{{ '' if prevArticle else 'disabled' }}"
        >
          {{ prevArticle.article_title if prevArticle else "没有了" }}
        </a>
      </div>
      <div class="next nav-item">
        下一篇：
          <a 
            href="{{ nextArticle.article_id if nextArticle else 'javascript:void(0)' }}"
            class="{{ '' if nextArticle else 'disabled' }}"
          >
          {{ nextArticle.article_title if nextArticle else "没有了" }}
        </a>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    $("#fontSizeAlter").on("click", "span", function() {
      var $self = $(this);
      var fontSize = "14px";
      
      if($self.hasClass("small")) {
        fontSize = "12px"
      }
      if($self.hasClass("middle")) {
        fontSize = "14px"
      }
      if($self.hasClass("big")) {
        fontSize = "18px"
      }

      $("#editor").css("font-size", fontSize);
      $self.addClass("active").siblings("span").removeClass("active");
    })
  </script>
{% endblock %}