{% extends "./base/frame.njk" %}

{% block head %}
  <link rel="stylesheet" href="/public/styles/contacts.css">
{% endblock %}

{% block main %}
  <div class="main">
    <h2>业务分布区域</h2>
    <img class="map" src="/public/images/contacts/map.png" alt="">
    <div class="center-box">
      <h2>业务联系人</h2>
      <div class="contacts">
        <dl>
          <dt>陕西负责人：</dt>
          <dd>
            <span class="name">由　勇</span><span class="tel">18604502466</span>
          </dd>
        </dl>
        <dl>
          <dt>新疆负责人：</dt>
          <dd>
            <span class="name">蒋欣燕</span><span class="tel">15313817879</span>
          </dd>
        </dl>
        <dl>
          <dt>广西负责人：</dt>
          <dd>
            <span class="name">肖　岩</span><span class="tel">15313820030</span>
          </dd>
        </dl>
        <dl>
          <dt>广西负责人：</dt>
          <dd>
            <span class="name">齐娇雪</span><span class="tel">15607816267</span>
          </dd>
        </dl>
        <dl>
          <dt>湖南负责人：</dt>
          <dd>
            <span class="name">陈　强</span><span class="tel">18599008867</span>
          </dd>
        </dl>
        <dl>
          <dt>宁夏负责人：</dt>
          <dd>
            <span class="name">马永聪</span><span class="tel">15313819557</span>
          </dd>
        </dl>
        <dl>
          <dt>区域负责人：</dt>
          <dd>
            <span class="name">幺　辉</span><span class="tel">13910831147</span>
          </dd>
        </dl>
      </div>
      <div class="address">
        <dl>
          <dt>总部地址：</dt>
          <dd>北京市海淀区西三旗昌临813号A11号楼</dd>
        </dl>
        <span>|</span>
        <dl>
          <dt>电话：</dt>
          <dd>010-82911287</dd>
        </dl>
        <span>|</span>
        <dl>
          <dt>邮编：</dt>
          <dd>100085</dd>
        </dl>
        <span>|</span>
        <dl>
          <dt>网址：</dt>
          <dd><a href="http://www.sinog2c.com" target="_blank">www.sinog2c.com</a></dd>
        </dl>
      </div>
    </div>
  </div>
{% endblock %}