{% extends "./base/frame.njk" %}

{% block head %}
  <link rel="stylesheet" href="/public/styles/product.css">
{% endblock %}

{% block main %}
  <div class="content">
    <div class="center-box">
      <h2>智能语音翻译系统</h2>
      <p class="summary">《国科智能语音翻译系统》是基于流媒体技术，运用降噪、分帧、变换、比对等技术，实现了语音识别，维汉互译、语音播报、分角色自动排版，录音录像文件及排版文件同步保存等功能，自动形成谈话分析报告、下一步的改造方案及改造对策，并通过上下文语义分析，智能纠正语法错误。该系统不仅大大减轻警官的审讯、谈话记录的工作负担，还有效降低了沟通误会，提高了谈话效率。</p>
      <h3>功能特点</h3>
      <p class="feature-desc"></p>
      <ul class="features">
        <li>
          <img src="/public/images/product-diagram/znyysb.png" alt="">
          <div class="feature">
            <h4>智能语音识别功能</h4>
            <p>通过针对不同地区定制化语音识别模型和自定义关键词识别优化工具，可以有效提升语音识别准确率，为提升审讯/谈话效率和办案人员的工作效率提供强有力的技术支撑。</p>
          </div>
        </li>
        <li>
          <img src="/public/images/product-diagram/sswhfy.png" alt="">
          <div class="feature">
            <h4>实时维汉翻译</h4>
            <p>实时维汉互译，语音播报翻译结果，还可以将谈话结果显示到显示器</p>
          </div>
        </li>
        <li>
          <img src="/public/images/product-diagram/gb.png" alt="">
          <div class="feature">
            <h4>双光标录入功能</h4>
            <p>谈话过程出现识别不准确的，将光标移动到识别错误的地方，及时修改。</p>
          </div>
        </li>
      </ul>
      <div class="diagrams">
        <img src="/public/images/product-diagram/znyyfy-diagram1.png" alt="">
        <img src="/public/images/product-diagram/znyyfy-diagram2.png" alt="">
      </div>
      <h3>成功案例</h3>
      <div class="cgal-diagram">
        <img src="/public/images/product-diagram/znyyfy-cgal.png" alt="">
      </div>
      <p>新疆建设兵团监狱管理局，以及兵团下属的26个监狱在2018年部署并签订合同。新疆是一个多民族聚居的地区，共有47个民族。其中维族居多，往往存在一些民警与服刑人员无法语言交流的场景，如：服刑人员无法以普通话与民警进行交流，而民警也听不懂当地方言，并且嫌疑人大部分识字程度都不高等多种因素，导致案件无法进展。系统减轻了民警与服刑人员语言沟通交流的压力和成本，大大提高了监狱民警的工作效率。</p>
    </div>
  </div>
{% endblock %}