{% extends "./base/frame.njk" %}

{% block head %}
  <link rel="stylesheet" href="/public/styles/product.css">
{% endblock %}

{% block main %}
  <div class="content">
    <div class="center-box">
      <h2>行为轨迹跟踪系统</h2>
      <p class="summary">该系统运用了RFID智能识别定位技术可以实现服刑人员在休息区固定范围活动跟踪，区域点名，服刑人员自动记录，特殊罪犯区分，劳动工具识别等功能。</p>
      <h3>功能特点</h3>
      <p class="feature-desc"></p>
      <ul class="features">
        <li>
          <img src="/public/images/product-diagram/xwgjgz-diagram1.png" alt="">
          <div class="feature">
            <h4>全面实现区域定位</h4>
            <p>实时掌握定位区域内罪犯、狱警、来访者的位置信息，移动目标历史轨迹查询。</p>
          </div>
        </li>
        <li>
          <img src="/public/images/product-diagram/xwgjgz-diagram3.png" alt="">
          <div class="feature">
            <h4>智能分析</h4>
            <p>移动目标异常行为智能分析，防止越狱以及暴力事件发生。</p>
          </div>
        </li>
        <li>
          <img src="/public/images/product-diagram/xwgjgz-diagram4.png" alt="">
          <div class="feature">
            <h4>智能腕带</h4>
            <p>定制化双频腕带式标签，防暴力拆毁定制化工具标签防水、抗金属。</p>
          </div>
        </li>
        <li>
          <img src="/public/images/product-diagram/xwgjgz-diagram2.png" alt="">
          <div class="feature">
            <h4>信息管理</h4>
            <p>自动点名、工具管理、识别预警、出入监管理、人员统计等智能化功能。</p>
          </div>
        </li>
      </ul>
      {# <h3>成功案例</h3>
      <p>陕西省监狱系统部署运行。《国科教育专网系统》作为智慧监狱建设的一部分，在陕西省40周年法制建设成就展和华山监狱智慧监狱评审工作上，成功演示。其中分级处遇积分制兑换视频和VR得到高度评价和广泛关注。</p> #}
    </div>
  </div>
{% endblock %}