{% set links = [
  {
    path: "/",
    label: "主页"
  }, {
    path: "/solutions",
    label: "解决方案"
  }, {
    path: "/product",
    label: "产品中心"
  }, {
    path: "/culture",
    label: "企业文化"
  }, {
    path: "/about",
    label: "关于我们"
  }, {
    path: "/contacts",
    label: "联系我们"
  }
] %}

<div class="layout-header">
  <div class="center-box">
    <h1>
      <a href="/">国科股份</a>
    </h1>
    <ul class="nav normal-flex">
      {% for link in links %}
        <li>
          <a
            href="{{ link.path }}"
            class="{{ 'active' if helper.isSubRoute(link.path, path) else '' }}"
          >
            {{ link.label }}
          </a>
        </li>
      {% endfor %}
    </ul>
    {% if path === "/culture" %}
      <form method="GET" action="/search" class="search-box search-form">
        <input
          type="text"
          name="keyword"
          placeholder="请输入检索关键词"
          autocomplete="off"
        >
        <button type="submit"><i class="icon"></i></button>
      </form>
    {% endif %}
  </div>
</div>