// 主色
$main-color: #065dac !default;
$main-color-weak: #005dac !default;

// 文本颜色
$text-color-default: #333 !default;
$text-color-weak: #666 !default;

// 字体大小
$font-size-default: 14px !default;
$font-size-small: 12px !default;
$font-size-medium: 16px !default;
$font-size-large: 18px !default;
$font-size-xlarge: 20px !default;

$content-min-width: 1300px !default;