.company-intro {
  padding-top: 50px;
  color: #666;

  h2 {
    margin-bottom: 26px;
    text-align: center;
    font-size: 22px;
  }

  p {
    line-height: 1.8;
  }
}

.history {
  position: relative;
  margin-top: 60px;

  img {
    max-width: 100%;

    &:last-child {
      position: absolute;
      top: 50px;
      left: 50%;
      transform: translateX(-50%);
      max-height: 84%;
    }
  }

  margin-bottom: 150px;
}