@import "./var";

.main {
  padding-top: 50px;
  padding-bottom: 170px;
  text-align: center;

  h2 {
    font-size: 22px;
    color: #666;
  }

  .map {
    width: 400px;
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .contacts {
    overflow: hidden;
    // display: flex;
    // flex-wrap: wrap;
    width: 780px;
    margin: 40px auto 30px;
    transform: translateX(40px);
    line-height: 36px;
    font-size: 16px;

    dl {
      float: left;
      display: flex;
      width: 362px;
      
      &:nth-child(2n) {
        float: right;
        // margin-left: 500px;
        // justify-content: flex-end;
      }

      .tel {
        margin-left: 30px;
      }
    }
  }

  .address {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;

    dl {
      display: flex;
    }

    span {
      margin: -1px 20px 0;
    }

    a:hover {
      color: $main-color;
    }
  }
}