@import "./var";
@import "./mixins";

.layout-header {
  h1 {
    margin-right: 0;
  }
  
  .center-box {
    justify-content: space-between;
  }
}

a:hover {
  color: $main-color-weak;;
}

.focus {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;

  .news {
    width: 612px;
    height: 354px;
    margin: 0;

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      
      a {
        display: block;
        height: 100%;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .swiper-pagination {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: auto;
      height: 50px;
      padding-right: 23px;
      right: 0;
      bottom: 0;

      .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        margin: 0 5px;
        background-color: #fff;
        opacity: 0.5;
      }

      .swiper-pagination-bullet-active {
        opacity: 1;
      }
    }

    h3 {
      position: absolute;
      left: 0;
      bottom: 0;
      box-sizing: border-box;
      width: 100%;
      height: 50px;
      padding-left: 28px;
      padding-right: 96px;
      line-height: 50px;
      font-size: 18px;
      color: #fff;
      background-color: $main-color-weak;
      @include text-ellipsis;
    }
  }

  .articles-overview {
    padding-top: 6px;
    // font-size: 16px;
  }

  .hot {
    width: 510px;
    margin-bottom: 20px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ccc;
    line-height: 28px;
    
    h3 {
      margin-bottom: 24px;
      text-align: center;
      font-size: 22px;
    }
  }

  .article-list {
    li {
      a {
        display: flex;
        align-items: center;
        padding: 9px 0;

        &:hover {
          color: $main-color-weak;
        }
      }
      
      span {
        width: 6px;
        height: 6px;
        margin-right: 16px;
        background-color: $main-color-weak;
      }

      h3 {
        @include text-ellipsis;
      }
    }
  }
}

.articles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 70px;
  margin-bottom: 20px;

  li {
    width: 510px;
    padding-bottom: 8px;
    margin-bottom: 50px;
    border-bottom: 1px solid #ccc;
  }

  h3 {
    height: 42px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
  }

  p {
    line-height: 24px;
    // font-size: 16px;

    &.brief {
      height: 120px;
    }

    &.date {
      // font-size: 14px;
      text-align: right;
    }
  }

}