@import "./_var";
@import "./_sprite";

.block {
  .header {
    text-align: center;

    h3 {
      font-size: 26px;
    }

    h4 {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 8px;
      margin-bottom: 4px;
      color: #666;
      font-size: $font-size-small;

      &:before,
      &:after {
        content: "";
        width: 86px;
        height: 1px;
        margin-top: 1px;
        background-color: #666;
      }

      &:before {
        margin-right: 10px;
      }

      &:after {
        margin-left: 10px;
      }
    }

    i {
      @include sprite($triangle-down);
    }
  }
}

.company-profile {
  height: 30px;
  font-size: $font-size-small;
  color: #fff;
  background: rgba(102, 102, 102, 1);

  .center-box {
    height: 100%;
  }

  h2 {
    text-indent: 2px;
  }

  .info {
    display: flex;
    align-items: center;

    dl {
      display: flex;
      align-items: center;
    }

    b {
      margin: -1px 5px 0;
    }

    .icon {
      margin: 0 6px 0 26px;
    }

    .bond {
      @include sprite($bond);
    }

    .contact {
      @include sprite($contact);
    }
  }
}

.swiper-container {
  background-color: #fff;

  .swiper-slide {
    // display: flex;
    // align-items: center;
    // overflow: hidden;

    img {
      width: 100%;
    }
  }

  .swiper-pagination {
    bottom: 30px !important;
  }

  .swiper-pagination-bullet {
    width: 50px;
    height: 10px;
    margin: 0 38px !important;
    border-radius: 5px;
    background-color: #80a0d9;
    opacity: 1;

    &.swiper-pagination-bullet-active {
      background-color: #fff;
    }
  }
}

.solutions {
  position: relative;
  padding-top: 38px;
  padding-bottom: 78px;
  background-color: #fff;
  box-shadow: 0px 0px 44px 2px rgba(8, 66, 132, 0.24);

  ul {
    display: flex;
    justify-content: center;
    margin-top: 22px;

    li:nth-child(1) {
      .icon {
        @include sprite($solution1);
      }
    }

    li:nth-child(2) {
      .icon {
        @include sprite($solution2);
      }
    }

    li:nth-child(3) {
      .icon {
        @include sprite($solution3);
      }
    }

    li:nth-child(4) {
      .icon {
        @include sprite($solution4);
      }
    }

    li {
      min-width: 230px;
      text-align: center;

      +li {
        margin-left: 36px;
      }
    }

    h3 {
      margin-top: 54px;
      font-size: $font-size-medium;
    }

    a {
      display: block;
      height: 100%;

      &:hover {
        color: $main-color-weak;
      }
    }
  }

  .triangle {
    position: absolute;
    left: 50%;
    bottom: -23px;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-top: 23px solid #fff;
    border-left: 23px solid transparent;
    border-right: 23px solid transparent;
  }
}

.products {
  padding-top: 40px;
  padding-bottom: 22px;
  background-color: #f2f2f2;

  .header {
    margin-bottom: 24px;
  }

  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1300px;
    margin: 0 auto;

    li {
      width: 384px;
      height: 340px;
      margin: 0 12px 24px;

      a {
        position: relative;
        display: block;
        height: 100%;

        &:hover {
          .intro {
            color: #ffe000;
          }
        }
      }

      img {
        display: block;
      }

      .intro {
        position: absolute;
        left: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        box-sizing: border-box;
        width: 100%;
        height: 112px;
        padding: 0 20px 4px;
        color: #fff;
        background-color: $main-color-weak;

        h3 {
          font-size: 20px;
        }

        p {
          max-width: 100%; // ie11 hack
          margin-top: 10px;
          font-size: 13px;
        }
      }
    }
  }
}

.articles {
  padding: 38px 0 20px;
  margin-top: 16px;
  background-color: #fff;
}

.column {
  margin-bottom: 42px;
  color: $text-color-weak;
  
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 56px;
    margin-bottom: 38px;
    line-height: 56px;
    border-bottom: 2px solid $main-color;

    h3 {
      position: relative;
      width: 176px;
      height: 100%;
      text-indent: 44px;
      font-size: 24px;
      color: #fff;
      background-color: $main-color-weak;

      .icon {
        position: absolute;
        top: 8px;
        
        &.culture {
          left: 8px;
          @include sprite($culture);
        }
  
        &.about {
          left: 6px;
          @include sprite($about);
        }
      }
    }

    a {
      padding-top: 5px;
      font-size: 18px;
      color: $main-color;

      b {
        margin-left: 3px;
      }
    }
  }

  .content {
    display: flex;
    height: 175px;
    
    .top-cover {
      width: 300px;
      margin-right: 34px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .hot-article {
    padding-top: 12px;
    width: 252px;

    h4 {
      margin-bottom: 12px;
      font-size: 18px;
      color: $main-color;
    }

    p {
      line-height: 1.8;
    }

    a {
      color: $main-color;
    }
  }

  .article-list {
    flex: 1;
    align-self: flex-start;
    padding-top: 12px;
    margin-left: 138px;
    
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;

      + li {
        margin-top: 12px;
      }

      b {
        width: 10px;
        height: 10px;
        margin-right: 5px;
        border-radius: 50%;
        background-color: $main-color;
      }

      h4 {
        flex: 1;
      }

      a:hover {
        color: $main-color-weak;
      }
    }
  }

  .intro {
    flex: 1;
    padding-top: 20px;
    line-height: 1.8;
  }
}