<div class="layout-footer">
  <div class="company-info center-box">
    <div class="contacts">
      <i class="icon slogan"></i>
      <dl>
        <i class="icon tel"></i>
        <dt>联系方式：</dt>
        <dd>010-82911260</dd>
      </dl>
      <dl>
        <i class="icon fax"></i>
        <dt>传　　真：</dt>
        <dd>010-62160556</dd>
      </dl>
      <dl>
        <i class="icon email"></i>
        <dt>服务邮箱：</dt>
        <dd>Service@sinog2c.com</dd>
      </dl>
      <dl>
        <i class="icon location"></i>
        <dt>地　　址：</dt>
        <dd>北京市海淀区西三旗昌临813号A11号楼</dd>
      </dl>
    </div>
    <ul class="site-map">
      <li><i class="icon icon1"></i></li>
      <li><a href="/about">关于我们</a></li>
      <li><a href="/culture">企业文化</a></li>
      <li><a href="/about">发展历程</a></li>
    </ul>
    <ul class="site-map">
      <li><i class="icon icon2"></i></li>
      <li><a href="/solutions">解决方案</a></li>
      <li><a href="/product">技术支持</a></li>
      <li><a href="/contacts">联系我们</a></li>
    </ul>
    <div class="wechat">
      <img src="/public/images/index/wechat.jpg" alt="">
      <p>官方微信</p>
    </div>
  </div>
  <div class="auth-record">
    国科政信科技（北京）股份有限公司 京ICP备13045455
  </div>
</div>